ul li{
    list-style: none;
}
#app>ul img{
    width: 50px;
    height: 50px;
}
.banner>h3{
font-weight: bolder;
}
.banner>p{
    color: gray;
    font-size: 20px;
    font-weight: bold;
}
.banner>a>span{
    color: coral;
    font-weight: bold;
}
.banner{
    height: 266px;
    width: 100%;
    background-image: url("../img/index_banner.png");
}